<!-- views/travel_places/_form.html.erb -->
<%= form_with(model: travel_place, local: true, html: { class: 'form' }) do |form| %>
  <% if flash[:alert].present? %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "form-label" %></br>
    <%= form.text_field :name, presence: true, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :location, class: "form-label" %></br>
    <%= form.text_field :location, presence: true, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :description, class: "form-label" %></br>
    <%= form.text_area :description, presence: true, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit travel_place.persisted? ? 'Update' : 'Create', class: "btn btn-primary" %>
  </div>
<% end %>
