<% if user_signed_in? %>
  <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
  <li><%= link_to 'Favorites', favorites_user_path(current_user) %></li>
<% end %>

<h1>Список мест для отдыха</h1>

<% if user_signed_in? && current_user.agent? %>
  <%= link_to 'Добавить новое место', new_travel_place_path %>
<% end %>

<% @travel_places.each do |travel_place| %>
  <div class="travel-place">
    <h3><%= travel_place.name %></h3>
    <p><strong>Местоположение:</strong> <%= travel_place.location %></p>
    <p><strong>Описание:</strong> <%= travel_place.description %></p>
    <p><strong>Создано:</strong> <%= travel_place.created_at %></p>
    <p><strong>Обновлено:</strong> <%= travel_place.updated_at %></p>

    <% if user_signed_in? && current_user.agent? 
        if current_user.agent? %>
          <%= link_to 'Редактировать', edit_travel_place_path(travel_place) %>
          <%= button_to 'Удалить', travel_place, method: :delete, data: { confirm: 'Вы уверены?' } %>
        <% end %>
        <% if current_user.favorite_place?(travel_place) %>
          <%= button_to 'Remove from favorites', add_to_favorites_travel_place_path(travel_place), method: :post, class: 'btn btn-danger' %>
        <% else %>
          <%= button_to 'Add to favorites', add_to_favorites_travel_place_path(travel_place), method: :post, class: 'btn btn-primary' %>
        <% end %>
    <% end %>
  </div>
  <hr>
<% end %>
