<%= link_to 'Back', favorites_user_path(current_user) %>
  

<div class="travel-place card w-25">
      <div class="card-header">
        <h5 class="card-title"><%= @travel_place.name %></h5>
        <% if user_signed_in? && current_user.agent? %>
            <%= link_to 'Edit', edit_travel_place_path(@travel_place) %>
        <% end %>
      </div>
      <div class="card-body">
        
        <p><strong>Location:</strong> <%= @travel_place.location %></p>
        <p><strong>Description:</strong> <%= @travel_place.description %></p>
        <p><strong>Creator:</strong> <%= "#{@travel_place.creator.last_name} #{@travel_place.creator.first_name}" %></p>
        <p><strong>Created at:</strong> <%= @travel_place.created_at %></p>
        <p><strong>Updated_at:</strong> <%= @travel_place.updated_at %></p>
      
        
      </div>
      <div class="card-footer">
        <% if user_signed_in? 
            if current_user.agent? %>
              <%= link_to 'Edit', edit_travel_place_path(@travel_place) %>
              <%= button_to 'Delete',@travel_place, method: :delete, class: 'btn btn-danger' %>
            <% end %>
            <% if current_user.favorite_place?(@travel_place) %>
              <%= button_to 'Remove from favorites', add_to_favorites_travel_place_path(@travel_place), method: :post, class: 'btn btn-warning' %>
            <% else %>
              <%= button_to 'Add to favorites', add_to_favorites_travel_place_path(@travel_place), method: :post, class: 'btn btn-primary' %>
            <% end %>
        <% end %>
      </div>
    </div>